<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>CrypticX</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Major+Mono+Display" rel="stylesheet">
  </head>
  <body>
    <header>
       <img class="crypt" src="/images/cripticx.png" width="350px" height="100px">
      <div class="menu" id="myTopnav" >
        <a href="home.html"><p class="menu-item">Home</p></a>
        <p class="menu-item" style="color: #171717">Play</p>
        <a href="lb.html"><p class="menu-item">Leaderboard</p></a>
        <a href="login.html"><p class="menu-item">Logout</p></a>
</div>
</header>

    <section id="level">
      <div class="level-box">
        <h1>Level 0</h1>

        <div class="level-content">
          <div class="question">
            <p>fbEl640</p>
            <img src="images/lvl0.png">
          </div>
          <input type="text" placeholder="Your answer goes here...">
        </div>
      </div>
    </section>
  </body>
</html>
