<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section>
      <p>Welcome <%= @user_detail.username %></p>
    </section>
  </body>
</html>
